* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #312d33;
}

html {
    min-width: 375px;
}

h1, h2, h3, h4 {
    font-family: 'Old Standard TT', serif;
}

p, ul, li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

/* -------------------------------------------------------------------------- */

/* -------------------------- Navigation Styles ----------------------------- */

body.drawer-navbar.drawer-fixed {
    padding: 0em;
}

.drawer-default {
    background: rgba(49,45,51, .8)
}

.drawer-default li {
    display: block;
}

.drawer-default .drawer-menu-item a {
    color: white;
    font-size: 1.1em;
}

.drawer-default .drawer-menu-item {
    padding: .8em;
}

.drawer-default .drawer-footer {
    height: 1em;
}

.drawer-close, .drawer-open {
    overflow: hidden !important; /*Prevents scroll bar from appearing on drawer open and close */
}

/* --------- End Navigation Styles ------------ */


/*Controls content positioning in fullPage */
.fp-tableCell {
    display: block;
}

.logo {
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    padding: .7em;
    margin-top: 15em

}

.gold-frame {
    border: solid 1px #aba000;
}

.black-background {
    background: rgba(49,45,51, .7);
    z-index: 0;
    margin: auto;
    padding: .5em;
}

.logo img {
    width: 100%;
    z-index: 1;
    vertical-align: middle;
}

.paper {
    background: url('../img/paper-bg.jpg');
}

h1 {
    padding-top: 4rem;
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.wrapper {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 1em;
}

.black-frame {
    border: solid 1px #312d33;
    max-width: 445px;
    margin: auto;
}

.map {
    width: 90%;
    margin: 5% 0 5% 0;
}

.top-space {
    margin-top: 1.5em;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1em;
}

.location ul {
    list-style: none;
    text-align: left;
    width: 60%;
    margin: auto;
    padding-bottom: 2em;
}

.location ul li {
    line-height: 1.7em;
}

/*-- Making the slides work */

.wrapper-slides {
    margin: auto;
    width: 70%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 75%;
}

.inner-slide-wrapper {
    padding: 10%;
}

.inner-slide-wrapper h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.slider-img {
    overflow: hidden;
}

.wrapper-slides ul{
    text-align: center;
    list-style: none;
}

.wrapper-slides ul li{
    line-height: 1.2em;
    padding-bottom: 1em;
}


.fp-controlArrow {
    top: 55%;
}

.menu-title {
    font-size: 2.5rem;
    color: white;
    border: solid 1px;
    padding: .5em 1em .5em !important;
    width: 4em;
    text-align: center;
    margin: auto;
    font-weight: 400;
    position: relative;
        top: 30%;
}


.fa {
    color: #aba000;
}

.fa-3x {
    font-size: 3.5em;
}

.cat {
    width: 90%;
    margin: 5% 0 5% 0;
}

.contact-wrapper p {
    text-align: left
}

.contact-wrapper span {
    text-align: center;
    padding-left: .3em;
    padding-right: .3em;
}

.contact-wrapper p:nth-child(5) {
    text-align: center;
    padding-top: 1em;
}

.contact-wrapper .black-frame {
    margin-top: 1em;
    margin-bottom: 3em;
}

.gift-card {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.gift-card h2 {
    color: #aba000;
    margin-top: 0;
    margin-bottom: .5em;
}

.gift-card img {
    width: 80%;
}

.gift-card p {
    font-style: italic;
    color: #aba000;
    margin-bottom: 1em;
}

.gift-card .gold-frame {
    padding: 1em;
}

.footer {
    text-align: center;
    padding-top: 2em;
    width: 100%;
    margin-top: 2em;
}

button {
    display: block;
    margin: auto;
    padding: 1em;
    margin-bottom: 2em;
    background: none;
    border: 1px solid white;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
}

.footer img {
    width: 70%;
}

.footer p {
    color: white;
}

/* ------- Starts 655px styles ------- */
@media (min-width: 655px) {

.drawer-default ul {
    text-align: center;
}

.drawer-default .drawer-menu-item {
    padding: .8em 2em 1em 2em;
    display: inline-block;
}

.contact-wrapper {
    width: 80%;
    margin: auto;
}

}

/* ------- Starts 768px styles ------- */
@media (min-width: 768px) {

.drawer-default .drawer-menu-item a {
    font-size: 1.3rem;
    padding: .5em 1em;
}

h1 {
    padding-top: 6rem;
}

menu h1 {
    padding-top: 5rem;
}

.wrapper-slides {
    margin-top: 0em
}

.logo {
    width: 80%;
    margin-top: 13em;
}

.menu h1 {
    padding-top: 3rem;
}

.contact-wrapper h1 {
    padding-top: 0;
    margin-top: 6rem;
}

.contact-wrapper p {
    text-align: center;
}

.contact-info {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.reservations h2 {
    text-align: left;
}

.reservations p {
    font-size: 1.2rem;
    text-align: left;
}

.floo {
    margin-top: 1em;
}

.floo-content {
    font-size: 1.1rem;
    float: left;
    width: calc(100%/2.2);
    margin-right: 1em;
}

.floo-content p {
    text-align: left;
}

.gift-card {
    width: 80%;
    margin: auto
}

}



