* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #312d33;
}

html {
    min-width: 375px;
}

h1, h2, h3, h4 {
    font-family: 'Old Standard TT', serif;
}

p, ul, li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

/* -------------------------------------------------------------------------- */

/* -------------------------- Navigation Styles ----------------------------- */

body.drawer-navbar.drawer-fixed {
    padding: 0em;
}

.drawer-default {
    background: rgba(49,45,51, .8)
}

.drawer-default li {
    display: block;
}

.drawer-default .drawer-menu-item a {
    color: white;
    font-size: 1.1em;
}

.drawer-default .drawer-menu-item {
    padding: .8em;
}

.drawer-default .drawer-footer {
    height: 1em;
}

.drawer-close, .drawer-open {
    overflow: hidden !important; /*Prevents scroll bar from appearing on drawer open and close */
}

/* --------- End Navigation Styles ------------ */


/*Controls content positioning in fullPage */
.fp-tableCell {
    display: block;
}

.logo {
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    padding: .7em;
    margin-top: 15em

}

.gold-frame {
    border: solid 1px #aba000;
}

.black-background {
    background: rgba(49,45,51, .7);
    z-index: 0;
    margin: auto;
    padding: .5em;
}

.logo img {
    width: 100%;
    z-index: 1;
    vertical-align: middle;
}

.paper {
    background: url('../img/paper-bg.jpg');
}

.map-wrapper {
    margin-top: 2em;
    max-width: 420px;
    margin: auto;
}

h1 {
    padding-top: 4rem;
    text-align: center;
    font-size: 3rem;
}

p {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.wrapper {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 1em;
}

.black-frame {
    border: solid 1px #312d33;
    margin: auto;
}

.map {
    width: 90%;
    margin: 5% 0 5% 0;
}

.top-space {
    margin-top: 1.5em;
}

h2 {
    font-size: 2rem;
    margin-top: .7em;
    margin-bottom: .7em;
}

.location ul {
    list-style: none;
    text-align: left;
    width: 70%;
    margin: auto;
    padding-bottom: 2em;
}

.location ul li {
    line-height: 1.7em;
}

/*-- Making the slides work --*/

.wrapper-slides {
    margin: auto;
    width: 70%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 70%;
}

.inner-slide-wrapper {
    padding-top: 1.5em;
}

.inner-slide-wrapper h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.slider-img {
    overflow: hidden;
}

.wrapper-slides ul{
    text-align: center;
    list-style: none;
}

.wrapper-slides ul li{
    line-height: 1.2em;
    padding-bottom: 1em;
}


.fp-controlArrow {
    top: 55%;
}

.menu-title {
    font-size: 2.5rem;
    color: white;
    border: solid 1px;
    padding: .5em 1em .5em !important;
    width: 4em;
    text-align: center;
    margin: auto;
    font-weight: 400;
    position: relative;
        top: 20%;
  background: rgba(49,45,51, .6)
}

.fp-tableCell {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

.specials h2 {
    font-size: 2.5rem;
    margin-top: .7em;
     margin-bottom: .2em;
}

.fa {
    color: #aba000;
}

.fa-3x {
    font-size: 3.5em;
}

.tossing{
    animation-name: tossing;
    -webkit-animation-name: tossing;

    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
    }
    100% {
        -webkit-transform: rotate(-6deg);
    }
}

.contact h4 {
    font-size: 1.3em;
}

.contact-info p {
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 1em;
}

.fa-facebook-official {
    padding-right: .5em;
}

.reservations p {
    font-size: 1.2em;
    line-height: 2em;
    width: 80%;
    margin: auto;
}

.contact-info.fp-tableCell {
    width: 65%;
}

.floo-content {
    margin-bottom: 1em;
}

.floo {
    width:95%;
}

.cat-wrapper {
    max-width: 420px;
    margin: auto;
}

.cat {
    width: 90%;
    margin: 5% 0 5% 0;
}

.gift-card {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    box-shadow: 0px 0px 15px 1px rgba(105,103,105,1);
    margin-top: 1em;
    margin-bottom: 2em;
}

.gift-card h2 {
    color: #aba000;
    margin-top: 0;
    margin-bottom: .5em;
}

.gift-card img {
    width: 80%;
}

.gift-card p {
    font-style: italic;
    color: #aba000;
    margin-bottom: 1em;
}

.gift-card .gold-frame {
    padding: 1em;
}

.footer {
    text-align: center;
    padding-top: 2em;
    width: 100%;
    margin-top: 2em;
}

button {
    display: block;
    margin: auto;
    padding: 1em;
    margin-bottom: 2em;
    background: none;
    border: 1px solid white;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: white;
        -webkit-transition: background-color .4s;
        transition:background-color .4s;
}

button:hover {
    background: #aba000;
}

button p {
    color: white;
    font-size: 1.5em;
}

.fa-arrow-up {
    color: white;
}

.footer img {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.footer p {
    color: white;
}

/* ------- Starts 655px styles ------- */
@media (min-width: 655px) {

.drawer-default ul {
    text-align: center;
}

.drawer-default .drawer-menu-item {
    padding: .8em 2em 1em 2em;
    display: inline-block;
}

.contact-wrapper {
    width: 80%;
    margin: auto;
}

.fp-tableCell {
    width: 80%;
    margin: auto;
}

.inner-slide-fix {
    margin-top: 3em;
}

.specials h2 {
    font-size: 3rem;
}

.specials p {
    font-size: 1.5rem;
}

.fa-2x {
  font-size: 3em;
}

.footer img {
    margin-top: 10%;
    margin-bottom: 10%;
}

}

/* ------- Starts 768px styles ------- */
@media (min-width: 768px) {

.drawer-default .drawer-menu-item {
    padding: .3em .2em 0em .2em;
}

.drawer-default .drawer-menu-item a {
    font-size: 1.3rem;
    padding: .5em 1em;
}

.logo {
    width: 75%;
}

h1 {
    padding-top: 6rem;
}

menu h1 {
    padding-top: 5rem;
}

.wrapper-slides {
    margin-top: 0em
}

.logo {
    width: 80%;
    margin-top: 13em;
}

.fp-tableCell {
    width: 90%;
}

.wrapper-slides.gold-frame {
    margin-top: 1em;
}

.slide-fix {
    height: 65%;
}

.contact h4 {
    margin-top: 2em;
}

.contact-info {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.reservations h2 {
    margin-top: 2em;
}

.floo {
    margin-top: 1em;
}

.floo-content {
    font-size: 1.1rem;
    width: 90%;
    margin: auto;
}

.floo-content p {
    margin-bottom: 1em;
}

.gift-card {
    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

button {
    margin-top: 5%;
}

.footer img {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 2em;
}

}

/* ------- Starts 1025px styles ------- */


@media (min-width: 1025px) {

.drawer-default .drawer-menu-item {
    padding: .3em .6em 0em .6em;
}

.logo {
    width: 70%;
}

.contact h4 {
  font-size: 1.7em;
}

.contact-info p {
  font-size: 1.5em;
  line-height: 1.7em;
  margin-bottom: .5em;
}

.reservations h2 {
  font-size: 2.5em;
}

.reservations p {
  font-size: 1.5em;
}

.floo-content {
    width: 80%;
}

.floo-content p {
    font-size: 1.2em;
}

.footer img {
    width: 65%;
}

}


