* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #312d33;
    font-family: 'Old Standard TT', serif;
}

.home {
    height: 700px;
}

.test1 {
    background: blue;
    height: 700px;
}

.test2 {
    background: red;
    height: 700px;
}

.test3 {
    background: green;
    height: 700px;
}

body.drawer-navbar.drawer-fixed {
    padding: 0;
}

.drawer-default {
    background: rgba(49,45,51, .7)
}

.drawer-default ul {
    text-align: center;
    font-weight: 700;;
}

.drawer-default li, .drawer-default a, .drawer-default .drawer-brand {
    display: inline-block;
}

.drawer-default .drawer-menu-item a {
    color: white;
}

.drawer-default .drawer-menu-item {
    padding: 1.2em;
}

.drawer-default .drawer-footer {
    height: 0;
}

